{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h1>Services</h1>
<p>
{% if service_list %}
<ul>
  {% for service in service_list %}
    <li>
        {{ service.name }} | {{ service.duration.seconds }}
        <div class="btn-group" role="group" aria-label="Basic example">
        {% if perms.main.change_service %}
          {% url 'main:service_update' service.id as update_url %}
          {% bootstrap_button "Edit" href=update_url button_class="btn btn-secondary" %}
        {% endif %} 
        {% if perms.main.delete_service %}
          {% url 'main:service_delete' service.id as delete_url%}
          {% bootstrap_button "Delete" href=delete_url button_class="btn btn-danger" %}
        {% endif %}
        </div>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no services in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'main:service_create' %}">Add a Service</a> |
<a href="{% url 'main:visit_all' %}">View Visits</a> |

{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'main:visit_all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'main:visit_all' %}">Login</a>
{% endif %}
</p>
{% endblock %}
